.header {
  margin-top: 10px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  height: 10%;
  align-items: flex-end;
  padding-right: 5%;
}

@media screen and (max-width: 1000px) {
  .header {
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
}