.home {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.headshot-img {
  width: 20%;
  height: 10%;
  border-radius: 50%;
  box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
  margin-left: 15%;
}

.about-me {
  margin-left: 15%;
  margin-right: 10%;

}