.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.navbar-item,
.navbar-item-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 50px;  
  color: black;
  text-transform: uppercase;
  font-size:x-large;
  display: inline-block;
  position: relative;
}

.navbar-item-dark {
  color: white;
  margin: 5px;
  font-size: medium;
}

.navbar-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 1000px) {
  .navbar {
    justify-content: none;
    flex-wrap: nowrap;
  }
  .navbar-item {
    margin: 5px;
    font-size: medium;
  }
}

