.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projects-header {
  border-bottom: 5px solid orange;
}

.project-img,
.project-img-dark {
  height: 350px;
  width: 500px;
  border-radius: 2%;
  border: 1px solid black;
}

.project-img-dark {
  border: 1px solid white;
}

.project-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2% 10% 1% 10%;
}

.project-one-text {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 10%;
}

.project-title {
  margin: 0px;
}

.project-links {
  display: flex;
  align-items: center;
}

.dividor {
  margin: 0px 5px 0px 5px;
}

.live-site,
.live-site-dark {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: black;
  font-size: larger;
}

.live-site-dark {
  color: white;
}

.live-site:hover {
  border-bottom: 2px solid orange;
  width: max-content;
}

@media screen and (max-width: 1000px) {
  .project-one {
    flex-direction: column;
  }

  .project-img {
  height: 250px;
  width: 300px;
  border-radius: 2%;
}
}